/* ====================
BASE
==================== */

// ADD CUSTOM BASE STYLES HERE

/*
===== HEADER =====
*/
// ADD CUSTOM HEADER STYLES HERE
#header .site-logo {
	display: block;
	width: 242px;
	height: 61px;
	background: url("../images/logo-site.png") no-repeat 0 0;
}

/* MAIN NAV */
// ADD CUSTOM MAIN NAVIGATION STYLES HERE


/*
===== MAIN =====
*/
// ADD CUSTOM MAIN BODY STYLES HERE


/*
===== FOOTER =====
*/
// ADD CUSTOM FOOTER STYLES HERE