/* ====================
COLORS
==================== */
// VARIABLES ====================
$blue			: #3366cc;
$red			: #c90000;
$green			: #008000;

/* Blue */
.bg-blue { background: $blue; }

/* Red */
.bg-red { background: $red; }

/* Green */
.bg-green { background: $green; }